html, body {
  height: 100%;
  font-family: 'Share Tech Mono', monospace;
}

header>h1 {
  padding: 0.5em;
  border: 10px solid pink;
  border-left: none;
  display: inline-block;
}

.snippet .snippet-title {
  border-bottom: 10px solid #bbadf7;
  font-size: 1.4em;
}

.snippet {
  margin: 4.5em 0;
  max-width: 600px;
}

.snippet a {
  text-decoration: none;
  color: black;
  border: 3px solid #bbadf7;
  padding: 6px;
  background-color: #e7e3fc;
}

.snippet a:hover {
  background-color: #d4cdf4;
}

.snippet-main>p {
  margin: 2em;
  margin-bottom: 0;
}

.snippet pre {
  margin: 0;
}

.snippet code {
  padding: 0;
}

footer a, header a {
  color: #f44283;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover, header a:hover {
  color: pink;
}

footer {
  color: #777;
  padding-bottom: 1em;
  font-size: 0.9em;
}
